/* Style the links inside the sidenav */
body{
  margin: 0;
  background-color: Black;



}

.TopContainer{
  width: auto;
  height: 600px;
  padding-bottom: 150px;
}
.TitleText{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: White;
  line-height: 10px;

}
.TitleText h1{
  text-align: left;
  font-size: 75px;
  font-family: monospace "Lucida Console";
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 25px;
  margin-left: 15%;
  padding-top: 25%;
  padding-bottom: 20px;
  text-shadow: 2px 2px 1px Black;

}
.TitleText h2{

  margin-left: 15%;
  text-align: left;



}
.TitleText p{
  font-family: cursive;
  text-decoration: none;
  font-style: italic;
  text-shadow: 2px 2px 1px Black;
  text-align: left;
  margin-left: 15%;




}
.topbkgImg{
  position: absolute;
  margin-top: -25px;
  width: 100%;
  height: -webkit-fill-available;
  z-index: -1;
  transform: scaleX(-1);

}
.rndProfilePic{ /*pic is hidden*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  border-radius: 200px;
  box-sizing: border-box;
  background-color: #DDD;
  border: 5px solid white;
  z-index: 5;
  box-shadow: 10px 10px 10px black;
  padding-top: 175px;


}
.button {
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 15%;
  vertical-align: top;

}
.button1 {
  background-color: #4CAF50;
  color: white;
  font-family: fantasy;
  border: 2px solid white;
  margin-top: 10px;

}

.button1:hover {
  background-color: white;
  color: #4CAF50;
  transition-duration: .4s;
  transform: scale(1.25);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.button1:hover .dlIcon{
  color: green;
}
.button2 {
  background-color: #4CAF50;
  color: white;
  font-family: fantasy;
  border: 2px solid white;
  margin-top: 10px;

}
.button2 {
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  vertical-align: top;

}

.button2:hover {
  background-color: white;
  color: #4CAF50;
  transition-duration: .4s;
  transform: scale(1.25);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.button2:hover .dlIcon{
  color: green;
}
#more{
  position: relative;
  width: 150px;
  height: 125px;
  margin-left: 45%;
  margin-right: auto;
  margin-top: 100px;

}
.dlIcon{
  margin-left: 5px;

}
.dlIcon:hover{
  color: inherit;
  fill:Green;
}

.MidContainer{
  width: 100%;
  height: auto;
  background-color: ghostwhite;
  padding-top: 50px;
  padding-bottom: 20px;

}
.sectionHeading{
  border-style: solid;
  border: 3px solid #3AA0A5;
  border-spacing: 10px;
  display: block;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 0;
  font-size: 35px;
  font-weight: bolder;
  padding: 5px 20px;


}
.myInfo{
  width: 50%;
  display: inline-block;
}
.myInfo td{
  padding-top: 10px;

}
.infoContent{
  display: inline-block;
}
.infoImg{
  background-color: #3AA0A5;
  border: 20px;
  padding: 10px;
  border-radius: 25% 10%;



}
.infoTable{
  margin-left: 60px;

}
.infoText{
  padding-left: 20px;
  padding-right: 20px;
  line-height: 5px;
  white-space: nowrap;

}
.myBio{
  width: 900px;
  text-align: justify;
  margin-left: 25%;
  margin-right: auto;
  font-size: 20px;
}
#hidepic{
  visibility: hidden;
}
#infoTablePic{
  /*margin-left: 175px;*/
  margin-left: 25%;
  margin-right: 25px;
  height: 250px;
  width: 175px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);



  border: 3px solid green;
}


.MidContainer h4{


}

.skillsHeader{

}

.skillsTable{
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0px;
}
.skillSubHeading{
  position: relative;
  text-align: left;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 15px;



}
.skillsTable tr td{
  text-align: left;
  border-bottom: 1px solid Black;
  border-top: 1px solid Black;
  border-left: 0;
  border-right: 0;
  padding-left: 20px;
  padding-right:20px;


}
.wordCloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
  cursor: default;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
}
.wordCloud li {
  display: block;
  padding: 10px;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.wordsize1{ /*biggest, strongest skills*/
  font-size: 60px;
  color: purple;
  transition: .5s;

}
.wordsize1:hover{
  color: DarkViolet;
  font-size: 70px;
  transition: .5s;
  transition-timing-function: ease;
}
.wordsize2{
  font-size: 45px;
  color: Green;
  transition: .5s;

}
.wordsize2:hover{
  color: greenyellow;
  font-size: 55px;
  transition: .5s;
  transition-timing-function: ease;

}
.wordsize3{
  font-size: 35px;
  color: Red;
  transition: .5s;



}
.wordsize3:hover{
  color: pink;
  font-size: 45px;
  transition: .5s;
  transition-timing-function: ease;


}
.wordsize4{
  font-size: 25px;
  color: goldenrod;
  transition: .5s;



}
.wordsize4:hover{
  color: gold;
  font-size: 35px;
  transition: .5s;
  transition-timing-function: ease;

}
.wordsize5{
  font-size: 18px;
  color: Blue;
  transition: .5s;

}
.wordsize5:hover{
  color:lightblue;
  font-size: 28px;
  transition: .5s;
  transition-timing-function: ease;

}
.toprow{
  position: relative;
  text-align: center;
}
.bottomrow{
  position: relative;
  text-align: center;
}
.xpbars img{
  width: 200px;
  height: 200px;
  display: inline-block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;


}

.MidLowContainer{
  width: 100%;
  height: auto;
  background-color: ghostwhite;
  padding-bottom: 100px;


}
.MidLowContainer header hr{

  display: inline-block;
  left: auto;
  right: auto;
}
.BottomContainer{
  width: 100%;
  height: auto;
  background-color: ghostwhite;
  padding-bottom: 5px;



}
.thumbnailGallery{
  position: relative;
  text-align: center;
}
.thumbnail{
  width: 300px;
  height: 200px;
}
.thumbnail:hover{
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: .6s;
}
.bookPics{
  width: 300px;
  height: 440px;
}
.bookShowcase{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.bookHeadingPic{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;

}
.booksHeading {
  position: relative;
  text-align: center;




}
.bookdeets{
  font-size: 20px;
  line-height: 4px;
}
.FinalContainer{
  width: 100%;
  height: auto;
  background-color: ghostwhite;
}
.recapContact{
  margin-left: 10%;
  margin-right: auto;

}
.infoImg2{
  background-color: #3AA0A5;
  border: 10px;
  padding: 8px;
  border-radius: 25% 10%;



}
.infoRecap{



}
.recapContact{
  width: 80%;
}
.recapContact tr td{
  margin: 0px;
  padding: 0px;
  text-align: left;
  border-spacing: 0px;



}
.recapDetails{
  padding-bottom: 100px;
}
.formDiv{

}
.ContactMeForm{
  border: 2px gray;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;


}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus {
  border: 3px solid #555;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
 input[type=submit]{
  border: none;
  background-color: #4CAF50;
  color: white;
  transition-duration: .4s;

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  vertical-align: top;

}
input[type=submit]:hover {
  background-color: white;
  color: #4CAF50;
  transform: scale(1.25);
  transition-duration: .4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.button2:hover .dlIcon{
  color: green;
}
.FooterContainer{
  width: 100%;
  text-align: center;
  height: auto;
  background-color: #3AA0A5;
}
.Footer{
  background: #3AA0A5;
  z-index: 20;


}
.FooterContainer p{
  text-align: center;
  color: White;
  padding-bottom: 15px;
  line-height: 1px;
}
.FooterContainer img{
text-align: center;
z-index: 50;

}
.socmedIcons{
  position: relative;
  width: 50px;
  height: 50px;
  padding: 5px;
  display: : inline;
  z-index: 50;
  text-align: center;

}




.mySidenav{
  position: fixed;
  padding-top: 50px;
  z-index: 50;

}
#mySidenav{
  position: fixed;
  z-index: 50;
}
#mySidenav img{

}
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -90px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px;
  width: 110px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  margin-top: 200px;

}
.menuIcon{
  margin-right:5px;
  text-align: right;


}


#mySidenav a:hover {
  left: -10px; /* On mouse-over, make the elements appear as they should */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

/* The about link: 20px from the top with a green background */
#menuBars {
  top: -40px;
  background-color: purple;
}
#about {
  top: 20px;
  background-color: #04AA6D;
}

#blog {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 140px;
  background-color: #f44336; /* Red */
}

#contact {
  top: 200px;
  background-color: #555 /* Light Black */
}
